@{
    ViewData["Title"] = "Home Page";
}


<!DOCTYPE HTML>
<html>
<head>
    <style>
        body {
            background-image: url("https://thumbs.dreamstime.com/z/suburb-house-background-14495872.jpg")
        }
    </style>
</head>
<div class="text-center">
    <h1 class="display-4">Online Shopping Center</h1>
    <p>Shopping  <a href="https://www.bigbasket.com/"> the website to purchase food items  </a>.</p>
</div>
</html>